.slds-form-element__control,.slds-select_container{
    display: inline-block;
}
.slds-form-element__control{
    padding-right: 10px;
}
.slds-section{
    border: 2px solid lightgray;
    padding: 27px;
    border-radius: 2%;
    width: 100%;
}
:host {
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
    padding: 10px;
}
@media (max-width: 720px){
    :host {
        width: 100%;
    }
}
.discContainer{
    width: 100%;
    min-height: 40px;
}
